
.header{
    display: flex;
    justify-content: space-between;
    background: rgb(36,36,36);
    background: linear-gradient(45deg, rgba(36,36,36,1) 0%, rgba(52,52,52,1) 0%, rgba(37,37,43,1) 100%);
}
.headImg{
    height: 100%;
}
.ch{
    width: 100%;
    height: auto;
    margin: 20% 0;
}

.txt{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

li{
    margin: 0 3%;
    font-size: small;
} 
.txt a{
    color: white;
    text-decoration: none;
}
.txt a:hover{
    color: thistle;
}