.account{
    display: flex;
    flex-direction: column;
    background: rgb(36,36,36);
    background: linear-gradient(45deg, rgba(36,36,36,1) 0%, rgba(52,52,52,1) 0%, rgba(37,37,43,1) 100%);
    align-self: center;
    height: auto;
    padding: 0 1%;
    border-radius: 10px;
    margin-top: 10%;
    width: 40%;
}
.accountsData{
    display: flex;
    justify-content: flex-end;
    color: white;
    width: 100%;
}

.walletbalance{
    width: 100%;
    margin: 2%;
    border-left: tomato solid 5px;
    border-radius: 2px;
}
.savingsbalance{
    width: 100%;
    margin: 2%;
    border-left: limegreen solid 5px;
    border-radius: 2px;
}
.loansbalance{
    width: 100%;
    margin: 2%;
    border-left: turquoise solid 5px;
    border-radius: 2px;
}

.balance{
    display: block;
    margin: 0 4%;
    width: 80%;
    font-size: 50px;
}
.pounds{
    display:  inline-block;
    margin: 0;
    font-size:50px;
}
.pence{
    display:  inline-block;
    margin: 0;
    width: 20%;
    font-size: 30px;
}
.balanceP{
    margin: 2% 4%;
    width: 80%;
    text-align: left;
}

.userdate{
    width: 20%;
    margin: 2%;
    text-align: right;
}

.savingsbuttons{
    width: 40%;
    margin: 2%;
    padding: 3%;
    text-align: right;
}
.in, .out{
    display: block;
    font-size: small;
    margin: 10% 0;
    width: 100%;
    border-radius: 5px;
    background-color: limegreen;
    color: white;
}
.out{
    background-color: grey;
}

.takeout{
    background-color: turquoise;
}

.transfer{
    border: red solid 1px;
}



.toggledButton{
    display: flex;
    border-top: grey solid 1px;
    width: 93%;
    align-self: center;
    color: white;
    padding: 3% 0;
}
.toggledButton > form, .toggledButton > form  > div{
    display: flex;
    width: 100%;
    padding: 2%;
}

.toggledButton > form  > div{
    border-bottom: grey solid 1px;
}
.toggledButton> form> div > p{
    margin: auto 0;
}
.toggledButton> form > div> input{
    margin: auto 1%;
    border-bottom: none;
}

.toggledButton> form > div> input::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

.toggledTrans{
    color: white;
    background-color: orangered;
    margin: auto 0;
    width: 50%;
    padding: 1%;
    margin: 0 1%;
    cursor: pointer;
}

